{% extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-6">
      {%if projects%}
        <h3>Found {{projects|length}}</h3>
        {%else%}
        <h3>Found {{projects|length}} Related results</h3><br>
        <p class="alert alert-info">No result found</p>
        <ul class="list-group">
          <li class="list-group-item">Try using English</li>
  
        </ul>
        {%endif%}
    </div>
    <div class="row">
    {%for project in projects%}
      <div class="col-md-4">
        <div class="card content">
          <div class="image">
              <a class="img" href="{% url 'details' project.id %}">  <img class="img-fluid" src="{{project.image.url}}" alt=""></a>
          </div>
          <div class="check">
            <i class="dta">{{project.date}}</i>
            <p>{{project.name}}</p>
  
            <hr>
            <div class="">
             
              <p>by {{project.user}}</p>
            </div>
          </div>
        </div>
        <br>
      </div>
  
      {%endfor%}
  
  
    </div>
  
  </div>
  
  {%endblock%}